/*
        // # Selector de :dir
        // . selector de clase
        // nombre de la etiqueta a modificar 
        */

        *{
            padding: 0;
            margin: 0;
            border: 0;
        }

        header{
            text-align: center;
            color: black;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            
        }

        #datosPersonales {
            width: 100%;
            margin-top: 16px;
            display: flex;
            flex-direction: row;/*row(default va de izquierda a derecha, column(arriba hacia abajo), row-reverse(derecha a izquierda), colum-reverse(abajo hacia arriba)*/
            justify-content: space-evenly;
            align-items: flex-start;

        }

        #perfil {
            width: 100%;
            margin-top: 16px;
            display: flex;
            flex-direction: row;/*row(default va de izquierda a derecha, column(arriba hacia abajo), row-reverse(derecha a izquierda), colum-reverse(abajo hacia arriba)*/
            justify-content: space-evenly;
            align-items: flex-start;

        }

        #estudios {
            width: 100%;
            margin-top: 16px;
            display: flex;
            flex-direction: row;/*row(default va de izquierda a derecha, column(arriba hacia abajo), row-reverse(derecha a izquierda), colum-reverse(abajo hacia arriba)*/
            justify-content: left;
            
            
        }

        #actividades {
            width: 100%;
            margin-top: 16px;
            display: flex;
            flex-direction: row;/*row(default va de izquierda a derecha, column(arriba hacia abajo), row-reverse(derecha a izquierda), colum-reverse(abajo hacia arriba)*/
            justify-content: left;
            align-items: baseline;

        }
        #conocimientos {
            width: 100%;
            margin-top: 16px;
            display: flex;
            flex-direction: row;/*row(default va de izquierda a derecha, column(arriba hacia abajo), row-reverse(derecha a izquierda), colum-reverse(abajo hacia arriba)*/
            justify-content: left;
            align-items: flex-start;

        }
    

 