/*
        // # Selector de :dir
        // . selector de clase
        // nombre de la etiqueta a modificar 
        */

        h1{
            text-align: center;
            color: black;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 1.5cm;
        }

       